body {
	text-align:center;
	background-image:url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&w=1000&q=80');
	background-size:cover;
	background-repeat:  repeat-xy;
	background-position: center;
}
 h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.5em;
	color: #ffffff;
	text-align: center;
}
h3 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.0em;
	color: #ffffff;
	text-align: center;
}
 .maintable {
	border: 0.5em solid #000000;
	padding: 0;
	width: 75%;
	height: 100%;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
	table-layout: fixed;
}
 .firsttablerow {
	border: 1px solid #FFFFFF;
	font-family: 'Bangers', cursive;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: bold;	
}
 td {
	border: 1px solid #FFFFFF;
	font-family: 'Bangers', cursive;
	color: #FFFFFF;
	background-color: #000000;
}
 th {
	border: 1px solid #FFFFFF;
	font-family: 'Bangers', cursive;
	font-size: 1.5em;
	color: #ffffff;
	background-color: #000000;
	font-weight: bold;
}
 .planets {
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.5em;
} 